.container { width: 100%; min-width: 1200px; max-width: 1920px; margin: 0 auto; overflow: hidden; background-color: #fff; }
#ali { width: 100%; }
#ali .banner { position: relative; width: 1200px; height: 2217px; margin: 0 auto; }
#ali .banner img { position: absolute; top: 0; left: 50%; width: 1920px; height: 2217px; margin-left: -960px; }
#ali .banner .btn-buy{display: block;position: absolute;left: 478px;bottom: 60px;width: 230px;height: 60px;background: url("../img/ali-taurus/btn.png") no-repeat;background-size: 100% 100%;animation: btn 3s infinite;}

@keyframes btn{
    0%   { -webkit-transform: scale(1); -ms-transform: scale(1); }
	50%  { -webkit-transform: scale(0.8); -ms-transform: scale(0.8); }
	100% { -webkit-transform: scale(1); -ms-transform: scale(1); }
}

#ali .rule { width: 100%; background-color: #d8a973;}
#ali .rule dl { width: 1200px; height: 258px; margin: 0 auto; color: #fff; font-family: "Microsoft Yahei"; text-align: center;background: url("../img/ali-taurus/ali.png") no-repeat;background-position: 918px 86px; }
#ali .rule dt { font-size: 24px; padding: 50px 0 15px; }
#ali .rule dd { font-size: 14px; line-height: 30px; }