.reset-container { width: 100%; margin: 60px 0 100px; }
.reset-container .reset-title { margin-top: 60px; }
.reset-container .reset-title .title-text { width: 624px; margin: 0 auto; }
.reset-container .reset-title .title-text span { float: left; width: 48px; height: 22px; line-height: 22px; margin-right: 240px; font-size: 12px; color: #4f4f4f; }
.reset-container .reset-title .title-text span.last { margin-right: 0; }
.reset-container .reset-title .title-line { position: relative; width: 590px; margin: 0 auto; }
.reset-container .reset-title .title-line span { display: inline-block; width: 295px; border-bottom: 2px #ccc solid; }
.reset-container .reset-title .title-line span.active { border-color: #82aac8; }
.reset-container .reset-title .title-line i { position: absolute; left: 0; top: 5px; float: left; width: 14px; height: 14px; background: url(../img/forgot-password2.png) no-repeat; }
.reset-container .reset-title .title-line i.active { background-image: url(../img/forgot-password.png); }
.reset-container .reset-title .title-line i.circle-center { left: 50%; margin-left: -7px; }
.reset-container .reset-title .title-line i.circle-right { left: 100%; margin-left: -14px; }
.reset-container .reset-form { width: 350px; margin: 50px auto; }
.reset-container .reset-form .innerbox .form-content .btn-next,
.reset-container .reset-form .innerbox .form-content .btn-next2,
.reset-container .reset-form .innerbox .form-content .btn-reLogin { width: 100%; height: 100%; line-height: 44px; text-align: center; color: #fff; font-size: 18px; background: #0f3677; display: block; }
.reset-container .reset-form .innerbox .li-register-mobile, 
.reset-container .reset-form .innerbox .li-register-vcode,
.reset-container .reset-form .innerbox .li-register-pwd,
.reset-container .reset-form .innerbox .li-register-name,
.reset-container .reset-form .innerbox .btn-reLogin { width: 100%; height: 50px; outline: 1px solid #0f3677; outline-offset: -1px; position: relative; margin-bottom: 10px; }
.reset-container .reset-form .innerbox .li-register-mobile input,
.reset-container .reset-form .innerbox .li-register-vcode input,
.reset-container .reset-form .innerbox .li-register-pwd input,
.reset-container .reset-form .innerbox .li-register-name input { width: 300px; height: 50px; line-height: 50px; border: none; background: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; float: right; outline: none; }
.reset-container .reset-form .innerbox .li-register-mobile i, 
.reset-container .reset-form .innerbox .li-register-vcode i,
.reset-container .reset-form .innerbox .li-register-pwd i,
.reset-container .reset-form .innerbox .li-register-name i { width: 20px; height: 26px; display: block; position: absolute; left: 15px; top: 12px; background: url(../img/login/icons_form_content.png) no-repeat; }
.reset-container .reset-form .innerbox .li-register-mobile input { width: 186px; }
.reset-container .reset-form .innerbox .li-register-mobile .btn-register-vcode { width: 114px; height: 50px; float: right; display: block; background: #0f3677; color: #fff; text-align: center; line-height: 50px; }
.reset-container .reset-form .innerbox .li-register-mobile .icon-register-mobile { background-position: -148px 0; }
.reset-container .reset-form .innerbox .li-register-vcode .icon-register-vcode { background-position: -168px 0; }
.reset-container .reset-form .innerbox .li-register-pwd .icon-register-pwd { background-position: -20px 0; }
.reset-container .reset-form .innerbox .li-register-name .icon-register-name { background-position: 0 0; }
.reset-container .reset-form .innerbox .li-result-ok { position: relative; width: 308px; height: 50px; line-height: 50px; margin: 60px 0; }
.reset-container .reset-form .innerbox .li-result-ok span { float: right; font-size: 22px; color: #4f4f4f; }
.reset-container .reset-form .innerbox .li-result-ok i { width: 60px; height: 50px; display: block; position: absolute; left: 38px; top: 0; background: url(../img/detail/mask_join_cart_bg.png) no-repeat; }

/* mask-vcode begin */
.mask-vcode { width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: url(../img/mask_bg.png) repeat; z-index: 9999999; display: none; }
.mask-vcode .vcode-container { width: 380px; height: 230px; padding: 20px; position: absolute; left: 50%; margin-left: -200px; top: 50%; margin-top: -135px; z-index: 99999999; background: #fff; }
.mask-vcode .vcode-container .btn-vcode-close { width: 20px; height: 20px; display: block; position: absolute; right: 20px; top: 24px; cursor: pointer; background: url(../img/mask_btn_close.png) no-repeat; }
.mask-vcode .vcode-container .vcode-header { width: 100%; height: 38px; line-height: 30px; color: #0f3677; border-bottom: 1px solid #0f3677; font-size: 18px; font-weight: normal; }
.mask-vcode .vcode-container .vcode-header span { margin-left: 24px; }
.mask-vcode .vcode-container .vcode-content { width: 100%; padding: 30px 0 14px 0; }
.mask-vcode .vcode-container .vcode-content > li { width: 330px; margin: 0 auto; height: 36px; line-height: 36px; margin-bottom: 15px; }
.mask-vcode .vcode-container .vcode-content .content-title { width: 56px; display: inline-block; float: left; margin-right: 10px; color: #515151; }
.mask-vcode .vcode-container .vcode-content input { width: 262px; height: 34px; line-height: 34px; border: 1px solid #dcdcdc; outline: none; float: left; text-indent: 1em; }
.mask-vcode .vcode-container .vcode-content .img-vcode { width: 98px; height: 34px; border: 1px solid #e6e6e6; display: block; float: left; }
.mask-vcode .vcode-container .vcode-content .img-vcode img { width: 100%; }
.mask-vcode .vcode-container .vcode-content li > span { width: 164px; text-align: center; float: right; color: #b4b4b4; }
.mask-vcode .vcode-container .vcode-content li .btn-change-code { color: #2378cd; }

.mask-vcode .vcode-container .vcode-footer { width: 330px; margin: 0 auto; height: 46px; }
.mask-vcode .vcode-container .vcode-footer a { width: 160px; height: 46px; line-height: 46px; color: #fff; font-size: 16px; display: block; text-align: center; }
.mask-vcode .vcode-container .vcode-footer .btn-vcode-ok { float: left; background: #0f3677; }
.mask-vcode .vcode-container .vcode-footer .btn-vcode-cancel { float: right; background: #0578c4; }
/* mask-vcode end */
