#aries { width: 100%; min-width: 1200px; max-width: 1920px; margin: 0 auto; overflow: hidden;  }
.aries-container .banner { position: relative; width: 1200px;margin: 0 auto; height: 2245px;  }
.aries-container .banner img{position: absolute;left: 50%;top: 0;margin-left: -960px;}
.aries-container .banner .btn{position: absolute;left: 786px;bottom:770px;display:block;width: 226px;height: 57px;background:url("../../assets/img/half-price-aries/btn.png") no-repeat;}
.aries-container .banner  .ali{position: absolute;left: 100px;bottom: -130px;display: block;width: 273px;height: 405px;background: url("../../assets/img/half-price-Aries/ali.png") no-repeat;}

#aries .aries-rule { width: 100%; background-color: #fff; }
#aries .aries-rule .text-rule{width: 1200px;height: 160px; margin: 0 auto;text-align: center;color: #fe95ae;}
#aries .aries-rule .text-rule p{padding-bottom: 15px;}
#aries .aries-rule .text-rule .first-p{margin-top: 50px;}

#aries .frm-container { width: 100%; background-color: #425670; }
#aries .frm-container.flt { position: fixed; bottom: 0; left: 0; z-index: 999999; }
#aries .frm-register { width: 1200px; margin: 0 auto; padding-bottom: 26px; }
#aries .frm-register > h2 { line-height: 50px; font-size: 20px; font-weight: 400; color: #fff; text-align: center; }
#aries .frm-register > ul { width: 100%; }
#aries .frm-register li { float: left; margin-right: 49px; }
#aries .frm-register li.last { margin-right: 0; }
#aries .frm-register li input { width: 282px; height: 44px; line-height: 44px; outline: none; font-size: 18px; color: #505050; padding-left: 66px; box-sizing: padding-box; background-color: #fff; border: 1px solid #ccc; border-radius: 10px; }
#aries .frm-register li .txt-mobile { float: left; width: 174px; border-radius: 10px 0 0 10px; background-image: url('../img/half-price-aries/icon_mobile.png'); background-repeat: no-repeat; background-position: 20px center; }
#aries .frm-register li .txt-vcode { background-image: url('../img/half-price-aries/icon_vcode.png'); background-repeat: no-repeat; background-position: 20px center; }
#aries .frm-register li .btn-vcode { float: left; display: block; width: 154px; height: 44px; margin-left: -1px; line-height: 44px; text-align: center; color: #fff; font-size: 18px; background: #e4555f; border: 1px solid #ccc; border-left: none; border-radius: 0 10px 10px 0; }
#aries .frm-register li .btn-quick-register { display: block; width: 354px; height: 44px; line-height: 44px; font-size: 18px; text-align: center; color: #fff; background-color: #e4555f; border-radius: 10px; }