#moonCake { width: 100%; min-width: 1200px; margin: 0 auto; overflow: hidden; background-color: #010101; }
#moonCake .moon-container { width: 1200px; margin: 0 auto; }
.moon-container .banner { position: relative; width: 100%; height: 1026px; background: url('../img/moon-cake/banner.jpg') no-repeat; }
.moon-container .banner .arrow { position: absolute; bottom: 110px; left: 355px; width: 16px; height: 16px; background: url('../img/moon-cake/banner_arrow.png') no-repeat; -webkit-animation: 1.5s bannerArrow infinite; -moz-animation: 1.5s bannerArrow infinite; -ms-animation: 1.5s bannerArrow infinite; -o-animation: 1.5s bannerArrow infinite; animation: 1.5s bannerArrow infinite; }
@-webkit-keyframes bannerArrow {
	from{
        bottom: 120px;
        opacity: 0;
    }
    to{
        bottom: 100px;
        opacity: 1;
    }
}
@-moz-keyframes bannerArrow {
	from{
        bottom: 120px;
        opacity: 0;
    }
    to{
        bottom: 100px;
        opacity: 1;
    }
}
@-ms-keyframes bannerArrow {
	from{
        bottom: 120px;
        opacity: 0;
    }
    to{
        bottom: 100px;
        opacity: 1;
    }
}
@-o-keyframes bannerArrow {
	from{
        bottom: 120px;
        opacity: 0;
    }
    to{
        bottom: 100px;
        opacity: 1;
    }
}
@keyframes bannerArrow {
	from{
        bottom: 120px;
        opacity: 0;
    }
    to{
        bottom: 100px;
        opacity: 1;
    }
}

.moon-container .banner .btn-buy { display: block; position: absolute; bottom: 0; left: 311px; width: 103px; height: 35px; line-height: 35px; text-align: center; color: #fff; background: url('../img/moon-cake/btn_buy.png') no-repeat; }
.moon-container .banner .btn-buy:hover { color: #b18e6f; }

.moon-container .content { position: relative; width: 100%; height: 2239px; background: url('../img/moon-cake/content.jpg') no-repeat; }
.moon-container .content .arrow { position: absolute; top: 336px; left: 602px; width: 25px; height: 27px; background: url('../img/moon-cake/content_arrow.png') no-repeat; -webkit-animation: 1.5s contentArrow infinite; -moz-animation: 1.5s contentArrow infinite; -ms-animation: 1.5s contentArrow infinite; -o-animation: 1.5s contentArrow infinite; animation: 1.5s contentArrow infinite; }
@-webkit-keyframes contentArrow {
	from{
        top: 336px;
        opacity: 0;
    }
    to{
        top: 356px;
        opacity: 1;
    }
}
@-moz-keyframes contentArrow {
	from{
        top: 336px;
        opacity: 0;
    }
    to{
        top: 356px;
        opacity: 1;
    }
}
@-ms-keyframes contentArrow {
	from{
        top: 336px;
        opacity: 0;
    }
    to{
        top: 356px;
        opacity: 1;
    }
}
@-o-keyframes contentArrow {
	from{
        top: 336px;
        opacity: 0;
    }
    to{
        top: 356px;
        opacity: 1;
    }
}
@keyframes contentArrow {
	from{
        top: 336px;
        opacity: 0;
    }
    to{
        top: 356px;
        opacity: 1;
    }
}

#moonCake .frm-container { width: 100%; background-color: #425670; }
#moonCake .frm-container.flt { position: fixed; bottom: 0; left: 0; z-index: 999999; }
#moonCake .frm-register { width: 1200px; margin: 0 auto; padding-bottom: 26px; }
#moonCake .frm-register > h2 { line-height: 50px; font-size: 20px; font-weight: 400; color: #fff; text-align: center; }
#moonCake .frm-register > ul { width: 100%; }
#moonCake .frm-register li { float: left; margin-right: 49px; }
#moonCake .frm-register li.last { margin-right: 0; }
#moonCake .frm-register li input { width: 282px; height: 44px; line-height: 44px; outline: none; font-size: 18px; color: #505050; padding-left: 66px; box-sizing: padding-box; background-color: #fff; border: 1px solid #ccc; border-radius: 10px; }
#moonCake .frm-register li .txt-mobile { float: left; width: 174px; border-radius: 10px 0 0 10px; background-image: url('../img/moon-cake/icon_mobile.png'); background-repeat: no-repeat; background-position: 20px center; }
#moonCake .frm-register li .txt-vcode { background-image: url('../img/moon-cake/icon_vcode.png'); background-repeat: no-repeat; background-position: 20px center; }
#moonCake .frm-register li .btn-vcode { float: left; display: block; width: 154px; height: 44px; margin-left: -1px; line-height: 44px; text-align: center; color: #fff; font-size: 18px; background: #e4555f; border: 1px solid #ccc; border-left: none; border-radius: 0 10px 10px 0; }
#moonCake .frm-register li .btn-quick-register { display: block; width: 354px; height: 44px; line-height: 44px; font-size: 18px; text-align: center; color: #fff; background-color: #e4555f; border-radius: 10px; }