#mooncakes { width: 100%; min-width: 1200px; overflow: hidden; background-color: #f0f3f8; }
#mooncakes .mooncakes-wrapper { width: 1200px; margin: 0 auto; }
.mooncakes-wrapper .banner { position: relative; width: 100%; height: 1058px; background: url('../img/mooncakes/banner.png') no-repeat; }
.mooncakes-wrapper .banner .btn-buy { display: block; position: absolute; bottom: 0px; left: 458px; width: 144px; height: 34px; background: url('../img/mooncakes/btn_buy.png') no-repeat; }
.mooncakes-wrapper .information { width: 100%; height: 538px; background: url('../img/mooncakes/mooncakes.png') no-repeat; margin: 84px 0; }
#mooncakes .rules { width: 100%; background-color: #5f453e; }
#mooncakes .rules dl { width: 1200px; margin: 0 auto; color: #fff; text-align: center; padding-bottom: 35px; }
#mooncakes .rules dt { font-size: 18px; line-height: 24px; padding: 24px 0 15px; }
#mooncakes .rules dd { font-size: 14px; line-height: 24px; }

#mooncakes .frm-container { width: 100%; background-color: #425670; }
#mooncakes .frm-container.flt { position: fixed; bottom: 0; left: 0; z-index: 999999; }
#mooncakes .frm-register { width: 1200px; margin: 0 auto; padding-bottom: 26px; }
#mooncakes .frm-register > h2 { line-height: 50px; font-size: 20px; font-weight: 400; color: #fff; text-align: center; }
#mooncakes .frm-register > ul { width: 100%; }
#mooncakes .frm-register li { float: left; margin-right: 49px; }
#mooncakes .frm-register li.last { margin-right: 0; }
#mooncakes .frm-register li input { width: 282px; height: 44px; line-height: 44px; outline: none; font-size: 18px; color: #505050; padding-left: 66px; box-sizing: padding-box; background-color: #fff; border: 1px solid #ccc; border-radius: 10px; }
#mooncakes .frm-register li .txt-mobile { float: left; width: 174px; border-radius: 10px 0 0 10px; background-image: url('../img/mooncakes/icon_mobile.png'); background-repeat: no-repeat; background-position: 20px center; }
#mooncakes .frm-register li .txt-vcode { background-image: url('../img/mooncakes/icon_vcode.png'); background-repeat: no-repeat; background-position: 20px center; }
#mooncakes .frm-register li .btn-vcode { float: left; display: block; width: 154px; height: 44px; margin-left: -1px; line-height: 44px; text-align: center; color: #fff; font-size: 18px; background: #e4555f; border: 1px solid #ccc; border-left: none; border-radius: 0 10px 10px 0; }
#mooncakes .frm-register li .btn-quick-register { display: block; width: 354px; height: 44px; line-height: 44px; font-size: 18px; text-align: center; color: #fff; background-color: #e4555f; border-radius: 10px; }