.container .shopping-cart-wrapper { width: 1160px; margin: 0 auto; }
.shopping-cart-wrapper .shopping-step { width: 100%; }
.shopping-cart-wrapper .shopping-step li { width: 380px; height: 92px; line-height: 92px; float: left; margin-right: 10px; text-align: center; font-size: 18px; color: #dcdcdc; }
.shopping-cart-wrapper .shopping-step li.last { margin-right: 0; }
.shopping-cart-wrapper .shopping-step li.active { color: #82aac8; }
.shopping-cart-wrapper .shopping-step li i,
.shopping-cart-wrapper .shopping-step li span { display: inline-block; }
.shopping-cart-wrapper .shopping-step li i { height: 42px;
background: url(../img/shopping-cart/cart_icons_bg.png) no-repeat; position: relative; top: 14px; }
.shopping-cart-wrapper .shopping-step li .icon-cart { width: 92px; background-position: 0 0; }
.shopping-cart-wrapper .shopping-step li.active .icon-cart { background-position: 0 -42px; }
.shopping-cart-wrapper .shopping-step li .icon-order-info { width: 86px; background-position: -92px 0; }
.shopping-cart-wrapper .shopping-step li.active .icon-order-info { background-position: -92px -42px; }
.shopping-cart-wrapper .shopping-step li .icon-submit-ok { width: 84px; background-position: -178px 0; }
.shopping-cart-wrapper .shopping-step li.active .icon-submit-ok { background-position: -178px -42px; }
.shopping-cart-wrapper .shopping-step li.active .icon-submit-fail { width: 84px; background-position: -262px -42px; }
.shopping-cart-wrapper .shopping-step li span { margin-left: 20px; }

.shopping-cart-wrapper .section { width: 100%; }
.shopping-cart-wrapper .section .section-title { height: 38px; line-height: 38px; padding-left: 30px; background: url(../img/shopping-cart/section_title_bg.png) no-repeat left center; font-size: 18px; color: #0f3677; font-weight: normal; }

.shopping-cart-wrapper .section .section-submit { width:326px; margin: 0 auto; margin-bottom: 40px;}
.shopping-cart-wrapper .section-submit span{ display: block; color: #969696;}
.shopping-cart-wrapper .section-submit  p { height: 48px; line-height: 48px;margin-bottom: 30px; padding-left: 36px; background: url(../img/detail/mask_join_cart_bg.png) no-repeat left center; font-size: 22px; color: #4f4f4f; text-align: center; }
.shopping-cart-wrapper .section-submit .submit-fail p { width: 300px; margin-left: 16px; padding-left: 6px; background: url(../img/btn-fail.png) no-repeat left center; }
.shopping-cart-wrapper .section-submit .submit-fail span{ width: 350px; margin-bottom: 30px;}

.shopping-cart-wrapper .section .section-body { width: 100%; }
.shopping-cart-wrapper .section-body .body-header { width: 100%; height: 40px; line-height: 40px; background: #f5f5f5; color: #8c8c8c; }
.shopping-cart-wrapper .body-header span { display: inline-block; float: left; text-align: center; }
.shopping-cart-wrapper .section-body .body-list { width: 100%; height: 60px; border-bottom: 1px solid #dcdcdc;}
.shopping-cart-wrapper .section-body .body-list li { float: left; height: 100%; line-height: 60px; text-align: center; }
.shopping-cart-wrapper .section-body .h-number { width: 380px; }
.shopping-cart-wrapper .section-body .h-money { width: 480px; }
.shopping-cart-wrapper .section-body .h-pay { width: 300px; }

.shopping-cart-wrapper .cart-btns { width: 100%; height: 50px; margin: 70px 0 100px; }
.shopping-cart-wrapper .cart-btns a { width: 210px; height: 50px; line-height: 50px; text-align: center; font-size: 16px; color: #fff; float: right; }
.shopping-cart-wrapper .cart-btns .btn-view { background: #0f3677; margin-left: 10px; }
.shopping-cart-wrapper .cart-btns .btn-browse { width: 180px; background: #0578c4; }
.shopping-cart-wrapper .cart-btns span{ height: 50px; line-height: 50px; margin-right: 10px; font-size: 14px; color: #b5b5b5; float: right; }
